<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>

    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

</head>
<body>
    <%- include('partials/navbar-' + user.role, { user: user }) %>

    <div class="formedit">
    <form action="/profile/update" method="POST" enctype="multipart/form-data">
    <h1>Edit Form</h1>
    <p>Username</p>
    <input type="text" name="username" value="<%= user.username %>">

    <p>Email</p>
    <input type="text" name="email" value="<%= user.email %>">

    <p>Phone</p>
    <input type="text" name="phone" value="<%= user.phone %>">

    <p>Address</p>
    <input type="text" name="address" value="<%= user.address %>">

    <p>Gender</p>
    <input type="text" name="gender" value="<%= user.gender %>">

    <p>Profile Image</p>
    <input type="file" name="image">

    <button type="submit" class="save">Save</button>
</form>
    </div>
</body>
</html>